.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem 2rem;
    padding: 2rem 4rem 0 4rem;
    &__noticia {
        height: auto;
        // border: 1px solid black;
    }
    &__titular {
        font-weight: bold;
        font-size: 1.3rem;
        padding-bottom: 0.5rem;
    }
    &__img_cont {
    }
    &__img {
        height: 27rem;
        width: 100%;
        object-fit: cover;
    }
    &__bajada {
        font-size: 1rem;
    }

    /* Sidebar */

    &__sidebar {
        height: auto;
        // border: 1px solid black;
        grid-row: span 2;
    }
    &__sidebar-hr-contain {
        padding: 1rem 1rem;
    }
    &__sidebar-hr {
        border: 0.5px solid black;
    }
    
    &__tags-contain {
        text-align: center;
        // padding: 0;
        // list-style: none;
    }
    &__tags {
        padding: 2px 4px;
        background-color: steelblue;
        margin-right: 1px;
        color: white;
    }
    &__sidebar-destacados {
        padding-bottom: 0.5rem;
    }
    &__sidebar-img-contain {
        padding-bottom: 0.5rem;
    }
    &__sidebar-img {
        height: 15rem;
        width: 100%;
        object-fit: cover;
    }

    /* Newsletter */

    &__newsletter {
        background-color: #f2f4f5;
        height: auto;
        // border: 1px solid black;
        grid-column: span 4;
        text-align: center;
        padding: 2rem 0;
    }
    &__newsletter-title {
        font-weight: bold;
        font-size: 1.6rem;
        padding-bottom: 1rem;
    }
    &__input-bt {
        padding-top: 0.8rem;
    }
    &__newsletter-input {
        border-radius: 0;
        border: none;
        font-size: 13px;
        padding: 5px 10px;
    }
    &__newsletter-bt {
        background-color: coral;
        color: white;
        border: none;
        font-size: 13px;
        padding: 5px 10px;
    }
}
