* {
    font-family: 'Open Sans';
}

.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem 2rem;
    padding: 2rem 4rem;
    &__noticia {
        height: auto;
    }
    &__titular {
        font-weight: bold;
        font-size: 1.3rem;
        padding-bottom: 0.5rem;
    }
    &__img {
        height: 27rem;
        width: 100%;
        object-fit: cover;
    }
    &__bajada {
        font-size: 1rem;
    }

    /* Sidebar */

    &__sidebar {
        height: auto;
        grid-row: span 2;
    }
    &__sidebar-hr-contain {
        padding: 1rem 1rem;
    }
    &__sidebar-hr {
        border: 0.5px solid black;
    }
    
    &__tags-contain {
        text-align: center;
    }
    &__tags {
        padding: 2px 15px;
        background-color: steelblue;
        margin-right: 1px;
        color: white;
        border-radius: 15px;
    }
    &__sidebar-destacados {
        padding-bottom: 0.5rem;
    }
    &__sidebar-img-contain {
        padding-bottom: 0.5rem;
    }
    &__sidebar-img {
        height: 15rem;
        width: 100%;
        object-fit: cover;
    }
}
