/* Navigation */

.nav {
    width: 100vw;
    height: 8vh;
    color: black;
    list-style-type: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    // display: flex;
    // flex-direction: row;
    // flex-wrap: nowrap;
    // justify-content: space-between;
    // align-content: space-around;
    // align-items: center;
    &__main {
        padding: 0.8rem 10rem;
        background-color: #fff;
        border-bottom: 1px solid black;
    }
    &__logo {
        font-size: 3rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 0.5rem;
    }
    &__menu {
        text-align: center;
    }
    &__list {
    }
    &__item {
        display: inline-block;
    }
    &__link {
        text-decoration: none;
        padding: 0 2rem;
    }
    &__link:visited {
        color: black;
    }
    &__button {
        border: 1px solid rgb(199, 88, 88);
        border-radius: 5%;
        color: #fff;
        background-color: rgb(199, 88, 88);
        padding: 0.5rem;
        font-size: 1rem;
    }
    &__item--search {
        border: 1px solid black;
        display: inline-block;
    }
}
