/* Navigation */

.nav {
    display: grid;
    grid-template-columns: 70% 1fr;
    border-bottom: 1px solid black;
    height: auto;
    padding: 1rem 4rem;
    align-items: center;
    &__title {
        font-weight: bold;
        font-size: 2rem;
        // padding-bottom: 0.5rem;
    }
    &__brand {
        text-transform: uppercase;
    }
    &__list {
        margin-left: auto;
        text-transform: uppercase;
    }
    &__link {
        text-decoration: none;
    }
    &__link--padding {
        padding: 0 .5rem;
    }
    &__link:visited {
        color: black;
    }
    &__item--search {
        border: 1px solid black;
        display: inline-block;
    }
}
