/* Navigation */

.nav {
    display: grid;
    grid-template-columns: 70% 1fr;
    border-bottom: 1px solid black;
    height: auto;
    padding: 1rem 4rem;
    &__title {
        font-weight: bold;
        font-size: 2rem;
        // padding-bottom: 0.5rem;
    }
    &__uno {
        text-transform: uppercase;
    }
    &__dos {
        margin-left: auto;
        text-transform: uppercase;
    }

    &__menu {
        text-align: center;
    }
    &__list {
    }
    &__item {
        display: inline-block;
    }
    &__link {
        text-decoration: none;
        padding: 0 2rem;
    }
    &__link:visited {
        color: black;
    }
    &__item--search {
        border: 1px solid black;
        display: inline-block;
    }
}
